{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h3>Bienvenue!</h3>
    <p>
    Vous pourrez ici réaliser vos sondages
    </p>
    
    <table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Titre</th>
            <th>Options</th>
            
        </tr>
    </thead>
    <tbody>
    {% for poll in polls %}
         
        <tr>
            <td>{{ poll.creationDate ? poll.creationDate|date('d/m/Y H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('poll_show', {'id': poll.id}) }}">
                    {{ poll.title }}
                </a>
            </td>
            <td>
                Il y a {{ poll.pollOptions | length }} option(s) 
            </td>
           
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
