{% extends 'base.html.twig' %}

{% block title %}Poll{% endblock %}

{% block body %}
    <h3>Sondage</h3>
    <h5>Créé par ??? le {{ poll.creationDate|date('d/m/Y') }}</h5>
    <hr/>

    <h4>{{ poll.title }}</h4>

    {{ form(form) }}
    

    <hr/>
    <h5>Résultats</h5>
    {% for option in poll.pollOptions %}
    <h6>{{ option.name }}</h6>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;">25%</div>
    </div>
    {% endfor %}


{% endblock %}
